Body{
    background-color: black;
    color: white;
    width: 1025px;
    margin: 0 auto;
}

h1{
    background-color: teal;
    padding: 50px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
}
 
p{
    text-align: center;
    font: 15px Arial, sans-serif;
}